.timeline-item-index{display: inline-block; position: relative}
.timeline-item-index:after{clear:both}
.timeline-items .timeline-item-li:nth-child(even), 
.timeline-item-index .timeline-item-li:nth-child(even){
  float:right;
  clear:right;
}
.timeline-items .timeline-item-li:nth-child(odd),
.timeline-item-index .timeline-item-li:nth-child(odd){
  float:left;
  clear:left;
}

.timeline-item-li,.timeline-items .timeline-item-li:last-child, .timeline-item-index .timeline-item-li:last-child{
    width:48%;
    position: relative;
    border:1px solid #ddd;
    margin-bottom: 15px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
    box-shadow: 0 1px 3px rgba(0,0,0,0.055);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background: rgba(238, 238, 238, 0.2);
    
}
.timeline-item-li:before,.timeline-item-li:after{
  border:7px solid;
  content:'';
  display: block;
  position: absolute;
  top:10px;
}


.timeline-item-li:nth-child(even):before{ border-width: 10px 10px 10px 0; border-color: transparent #ddd;right:100%;}
.timeline-item-li:nth-child(even):after{ border-width: 10px 9px 8px 0; border-color: transparent #fff;right:100%;}
.timeline-item-li:nth-child(odd):after{left:100%;border-width: 10px 0px 10px 10px; border-color:  #fff transparent;}
.timeline-item-li:nth-child(odd):before{left:100%;border-width: 10px 0px 8px 9px; border-color:  #ddd transparent; background: white;}

.timeline-item-icon{
  display: none;  
}

.timeline-item-index .timeline-item-li .timeline-item-container,.timeline-item-index .timeline-item-li:last-child .timeline-item-container{ border: none; }

.timeline-items .timeline-item-li .timeline-item-container:before, .timeline-item-index .timeline-item-li .timeline-item-container:before{border-color: transparent}
.timeline-items .timeline-item-li .timeline-item-container:after, .timeline-item-index .timeline-item-li .timeline-item-container:after{border-color: transparent }

.timeline-item-index .timeline-item-li:nth-child(odd) .timeline-item-container{margin:0px 0px 0px 85px; padding: 10px 15px; min-height: 60px }
.timeline-item-index .timeline-item-li:nth-child(even) .timeline-item-container{margin:0px 85px 0px 0px; padding: 10px 15px; min-height: 60px}
.timeline-item-index .timeline-item-li:nth-child(odd)  .timeline-item-container .timeline-item-header .publisher-profile .profile-avatar{left: 12px; right:auto}
.timeline-item-index .timeline-item-li:nth-child(even) .timeline-item-container .timeline-item-header .publisher-profile .profile-avatar{right: 2px; left:auto}
.timeline-line{
  height: 100%;
  position: absolute; 
  left: 50%;
  width: 2px;
  background: #eee;
  bottom: 10px;
  margin-left: -1px;
  z-index: 1000;
}

.timeline{position: relative}
.timeline-item-index .timeline-item-li .timeline-item-container .timeline-item-title{margin: 10px 0px}
.timeline-item-li .timeline-item-container .timeline-item-header ul.actions{top: 10px !important }

