.timeline-item-index .timeline-item-li .timeline-item-container {
    margin: 0px 0px 10px 30px;
}
.timeline-item-index .timeline-item-li .timeline-item-container:after{ border: none; background: transparent}
.timeline-item-index .timeline-item-li .timeline-item-container:before{ border: none; background: transparent}
.timeline-item-index .timeline-item-li .timeline-item-container .timeline-item-title{ padding-right: 20px; border-bottom: none; margin-bottom: 0px;}
.timeline-item-index .timeline-item-li .timeline-item-container .timeline-item-header {margin-right: 20px;border-bottom: 1px solid rgb(247, 247, 247);padding-bottom: 10px;margin-bottom: 23px;}
.timeline-item-index .timeline-item-li .timeline-item-container .timeline-item-header .publisher-profile .profile-avatar {border-radius: 50%;top: 25px;right: -40px;left: auto;}
