.profilepics-carousel{ margin-bottom: 0px; }
.alert {position:relative; z-index: 100};
.input-xxxlarge   { width: 600px; }
.input-100pct{width: 100%; .box-sizing(border-box) }
.progress{
    &.small-bar{
        height: 10px;
        margin-bottom:0;
        .bar{
            height: 10px;
        }
    }
    &.mini-bar{
        height: 5px;
        margin-bottom:0;
        .bar{
            height: 5px;
        }
    }
}
.max-width{ max-width: 1180px; }
.padding-top{ padding-top: @gridGutterWidth !important; }
.padding{ padding : @gridGutterWidth!important; }
.padding-half{ padding : @gridGutterWidth * 0.5 }
.padding-quarter{ padding : @gridGutterWidth * 0.25 }
.padding-left{ padding-left : @gridGutterWidth }
.padding-left-half{ padding-left : @gridGutterWidth * 0.5 }
.padding-right{ padding-right : @gridGutterWidth }
.padding-right-half{ padding-right : @gridGutterWidth * 0.5 }
.padding-zero{ padding: 0 !important; }
.padding-right-zero{ padding-right: 0 !important; }
.padding-bottom-zero{ padding-bottom: 0 !important; }
.padding-left-zero{ padding-left: 0; }
.padding-right{ padding-right : @gridGutterWidth }
.padding-bottom{ padding-bottom : @gridGutterWidth }
.padding-top-zero{ padding-top: 0 !important; }

.margin{ margin : @gridGutterWidth }
.margin-top{ margin-top : @gridGutterWidth }
.margin-top-zero{ margin-top : 0 !important;  }
.margin-top-half{margin-top : @gridGutterWidth *0.5 }
.margin-top-double{ margin-top : @gridGutterWidth * 2 !important;  }
.margin-bottom{ margin-bottom : @gridGutterWidth }
.margin-bottom-half{ margin-bottom : @gridGutterWidth * 0.5 }
.margin-bottom-zero{ margin-bottom : 0 !important;  }
.margin-zero, .no-margin{margin: 0 !important;}
.margin-half{ margin : @gridGutterWidth * 0.5 }
.margin-right{ margin-right : @gridGutterWidth }
.margin-right-half{ margin-right : @gridGutterWidth * 0.5 }
.margin-right-zero{ margin-right: 0 !important;  }
.scroll-y{ overflow-y: scroll }
.display-block{display: block}

// Warning appears are orange
.btn-green {
  .buttonBackground(#99CC00,#669900);
}
// Danger and error appear as red
.btn-red {
  .buttonBackground(@btnDangerBackground, @btnDangerBackgroundHighlight);
}
// Success appears as green
.btn-orange {
  .buttonBackground(@btnSuccessBackground, @btnSuccessBackgroundHighlight);
}
// Info appears as a neutral blue
.btn-purple {
  .buttonBackground(@btnInfoBackground, @btnInfoBackgroundHighlight);
}
// Inverse appears as dark gray
.btn-twitter{
    .buttonBackground(#1AB9F0, #229AE1);
}

.btn-facebook{
    .buttonBackground(#5771A7, #3B5998);
}

.btn-google {
  .buttonBackground(@btnInverseBackground, @btnInverseBackgroundHighlight);
}
.btn-medium{padding: 6px;}

.usermenu { 
    width: 195px; 
    .dropdown-toggle{
        margin: 0px !important;
        padding-top: 9px!important;
        .thumbnail{ display: inline-block; border: none; background: none; .box-shadow(none)}
    }
}

.input-append .add-on,.input-prepend .add-on{
    &.btn{ padding-left: 10px; padding-right: 10px;}
}
input.search-query { width: 160px; .border-radius(0); padding: 4px 5px; }


/****MESSAGES****/
.stream-box{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; min-height: 100%;
    max-width: 1290px;
    .stream-list{
        position: absolute;
        //border: 1px solid #ddd;
        overflow-y: auto;
        overflow-x: hidden;
        top:@gridGutterWidth; bottom:auto;
        left:auto; right:@gridGutterWidth;
        width: 150px;
        //background: @white;
        min-height: 100px;
        z-index: 1;
        .stream-search{
            input{ margin: 3px auto}
        }
        ~ .stream-view{ margin-right: @gridGutterWidth + 150; }
    }
    .stream-view{ max-width: 1270px;}
    .stream-alerts,.stream-more, .stream-widgets,.stream-cpanel{ margin-left: 0px; display: block; }
    
}

.stream{
    margin: 0; padding:0; list-style: none;
    li{
        
        position: relative;        
        .link{ 
            text-decoration: none; padding: @gridGutterWidth ; display: block; font-size: @baseFontSize; border-left: 3px solid transparent;
            &.unread{ background: #d9edf7}
            &.open{ background: #f8f8f8; border-left: 3px solid @linkColor;}
            &.has-featured-img{ padding: @gridGutterWidth  @gridGutterWidth  @gridGutterWidth  50px+@gridGutterWidth*2; min-height: 50px+@gridGutterWidth*0.5;}
        }
        
        .featured-img{
            min-height: 50px;
            max-width: 70px;
            position: absolute; left:@gridGutterWidth; top:@gridGutterWidth;
        }
        .select{ position:absolute; top:@gridGutterWidth*1.1; left:@gridGutterWidth;  &~.link{ display: block; padding-left: @gridGutterWidth*2.5} &:checked{  &~.link {background: #fcf8e3 } } }
        .title{
             color: @grayDark;
            //.author{ float:left }
            .time{ float: right }
        }
        .subject{ font-weight: 700; }
        .content{
            clear: both;
            color: @grayLight;
        }
        &.bottom-border{border-bottom: 1px solid #dedede;}
        &:last-child{ border-bottom: none}
    }
}

.stream-object{
    margin-left: 115px;
}

.messages-box{
    position:absolute; left:0; right:0; bottom:0; top:@navbarHeight;
    .message-list{ 
        position:absolute; left:0; width: 400px; top:0; bottom:0; overflow:hidden; border-right:1px solid #e5e5e5; background: #fdfdfd; 
        .media-grid{ margin: @gridGutterWidth 0 0 @gridGutterWidth; }
    }
    .message-view{ position:absolute; left: 401px;  top:0; bottom:0; right:0; overflow-y: auto; overflow-x: hidden;}
}
.system-alert{
    &~.messages-box{ top: 43px }
}
.section-header{ background: #f8f8f8; border-bottom: 1px solid #e5e5e5; height: 76px; padding: @gridGutterWidth  @gridGutterWidth; .box-sizing(border-box) }
.section-timer{ border-bottom: 1px solid #363636; padding-bottom: 20px; time{color: gray; font-size: 32px; margin-top: 4px; display: inline-block;} .box-sizing(border-box) }
.section-body{
    overflow-y: auto; overflow-x: hidden; position: absolute; top:0; bottom:0; right:0; left:0;
}
.section-header{
    h1{
        margin: 0px;
        font-family: inherit;
        font-weight: 400;
        line-height: 35px !important;
        text-rendering: optimizelegibility;
        color: @grayLight;
        text-shadow: 0 1px 0 rgb(255,255,255);
    }
    &~.section-body{ top: 76px; }
}

.section-footer{
    position: absolute;
    bottom: 0;
    padding: 2px 2px;
    left: 0; background: #f8f8f8;
    right: 0;
    max-height: 40px;
    border-top: 1px solid #e5e5e5; 
    font-size: @baseFontSize * 0.8;
    .box-sizing(border-box);
    &~.section-body{ bottom: 40px; }
}   
//***** ACCORDION MENUS ***/

.accordion-nav{
    .accordion-group{
        margin-bottom:0px;
        border-bottom: 1px solid #eee;
        .accordion-heading{
            .accordion-toggle{
                #gradient > .vertical( #eee, #efefef);
                border-bottom: 1px solid #ddd;
                font-weight: bold; 
                //display: block;
                font-size: 11px;
                font-weight: bold;
                line-height: @baseLineHeight;
                //color: @grayLight;
                text-shadow: 0 1px 0 rgb(255,255,255);
                text-transform: uppercase;
            }
        }
        .accordion-inner{ padding: 15px 0 ;}
    }
}

.nav-menugroups{
    li > a {
        color: @grayLight;
        text-align: center;
        border-bottom: 1px solid #383838;
        padding: 10px 0;
        i{ font-size: 24px; line-height: 30px; margin: 0 15px; }
        small{ font-size: 10px; display: inline-block}
    }
     li > a:focus,
     li > a:hover {
        background: #222;
    }
    .active > a,
    .active > a:hover,
    .active > a:focus {
        color: @grayLighter;
        background: #222;
    }
}

.nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 26px;
    color: #999999;
    text-transform: uppercase;
    margin-top: 5px;
    border-bottom: 1px solid #ddd;
}
.nav-home-page{
    .navbar-inner{
        border-right: 1px solid #235377;
        .nav{ border-right: 1px solid #3D79B6; }
    }
}
.nav-home-page-link{ font-size: 24px; margin: 0px !important; line-height: 40px; text-align:center; width: 45px}
.navbar-inner{  
    .brand{ 
        padding-left:@gridGutterWidth *0.2; padding-right: 0px; 
        font-family: verdana;
        font-size: 19px;
        letter-spacing: -2px;
        color: rgba(26, 78, 116, 0.84);
        text-shadow:0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255,255,255,.125);
        font-weight: bold;
        margin-left: -10px;
        &.logo{ background: transparent url(../img/logo.png) 8px 8px no-repeat; text-indent: -9999em; }
    }
    .navbar-search{ 
            //background: @grayLight; .border-radius(2px)  
    }
}
.navbar-subnav{.navbar-inner{padding-left:@gridGutterWidth *0.2} }
.bkeditor-content{ 
    min-height: 29px;
    &:focus{ min-height: 150px; }
    &.input{ 

    display: inline-block;
    //padding: 5px;
    //margin-bottom: @baseLineHeight*0.5;
    font-size: @baseFontSize;
    line-height: @baseLineHeight;
    color: @gray;
    border: 1px solid @inputBorder;
    .border-radius(1px);
      .box-sizing(border-box);
        background-color: @white; 
        cursor: auto;
        display: block;
        line-height: @baseLineHeight;
        letter-spacing: normal;
        text-align: start;
        text-decoration: initial;
        text-indent: 0px;
        text-rendering: auto;
        word-break: normal;
        word-wrap: break-word;
        word-spacing: 0px;
        &.placeholder{color: @grayLighter }
    }
 }
.timeline-item-publisher{ 
     background: @white !important;

    &:after{ border-color: transparent @white !important}
}

.bkeditor-content.input{
     border: 1px solid @inputBorder; 
     padding: @gridGutterWidth*0.5;
     //.box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
     .transition(~"border linear .2s, box-shadow linear .2s");

     // Focus state
     &:focus {
       border-color: rgba(82,168,236,.8);
       outline: 0;
       outline: thin dotted \9; /* IE6-9 */
       //.box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6)");
     }
 }

.bkeditor-toolbar{
    background: @grayLighter;
    padding: 4px 4px 0px;
    margin: 0px 0px @gridGutterWidth*0.5 !important; 
    .btn{margin-bottom: 5px;
       i{  
           display: inline-block !important;
           margin-top: 0px;
       } 
   }
}
.bkeditor-fullscreen{
    &.fullscreen{ position: fixed; top:0; left:0; right:0; bottom:0; z-index:1000;     
    background-color: #f5f5f5;
    border: 1px solid #ddd; padding: @baseLineHeight*0.5 ;}
}
.bkeditor-typeit{visibility: visible; min-height: 400px; display: block }
.bk-publisher{    
    //margin: @gridGutterWidth;
    //margin-bottom: @baseLineHeight;
    margin-left: 79px;

    //padding-bottom:5px;
    //margin:0 60px;
    .bkeditor-content{ padding: @gridGutterWidth*0.5 @gridGutterWidth*0.7 }
}
.bk-publisher-actions{  }
// Base modal
.bk-slider {
  position: fixed;
  top: 5%; bottom: 5%;
  left: 5%; right: 5%;
  z-index: @zindexModal;
  overflow: scroll;
  width: auto;
  margin: auto;
  background-color: transparent;
  border: none;
  .box-shadow(none);
  .background-clip(padding-box);
  // Remove focus outline from opened modal
  outline: none;
  &.fade {
    .transition(none);
    top: 10%;
  }
  &.fade.in { top: 10%; }
  .close{ margin: 10px 10px 5px; position:relative; z-index: 10000; position: absolute; right:0;}
}
.modal-backdrop,
.modal-backdrop.fade.in {
  .opacity(90);
}
.display-block{ display: block }
// NAV-FILES
// ----
.nav-files{
  .clearfix();
}
.nav-files {
  line-height: 14px; // keeps the overall height an even number
  padding:0; margin:0 0 10px;
}

// Make the list-items overlay the bottom border
.nav-files > li {
  margin-bottom: 2px;
  //margin-right: 2px;
    display: inline-block;
}
// Actual tabs (as links)
.nav-files > li > a {
    position: relative;
    width: 100px;
    min-height: 70px;
    margin-bottom: 0px;
    margin-left: 1px;
    vertical-align: middle;
    display: inline-block;
  padding: 8px;
  line-height: @baseLineHeight;
  border: 1px solid #ddd;
  //.border-radius(4px 4px 0 0);
  background: #fcfcfc;
  &:hover,
  &:focus {
    //border-color: @grayLighter @grayLighter #ddd;
    background: #f1f1f1;
  }
  .upload-progress{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.68);
        text-align: center;
        vertical-align: middle;
        line-height: 85px;
        font-size: 30px;
        .icon-ok{ 
            color: green; 
        }
        &.completed{ background: transparent; }
   }
}
// Active state, and it's :hover/:focus to override normal :hover/:focus
.nav-files > .active > a,
.nav-files > .active > a:hover,
.nav-files > .active > a:focus {
  color: @gray;
  background-color: @white;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}


.upload-drop{
    border: 3px dashed #ddd;
    text-align: center;
    padding: 125px 0;
    font-size: 24px;
    //font-weight: bold;
    color: #DDD;
    .upload-select{
        margin-top: @gridGutterWidth;
    }
}

.upload-form{

}

.form-vertical{
    .form-actions{
        padding-left: 0px;
        padding-right: 0px;
    }
}

.bucket-link{
    //background: none;
    @border: #646464;
    .box-shadow(0px 0px 3px rgba(0,0,0,.25));
    color: @grayLight;
    //border: 2px dashed @border;
    padding: 15px @baseLineHeight;
    margin: 0px 10px 10px 0px;
    display: inline-block;
    .buttonBackground(#fafafa, #efefef, @grayDark, 0 1px 1px rgba(255,255,255,.75));
    text-align: center;
    position: relative;
    text-decoration: none;
    vertical-align: middle;
    i{ font-size: 24px; display: block !important; margin-bottom: 5px; }
    //.badge{ position: absolute; right: -10px; top: -10px;}
    &.important{ color: #B94A48; i{color: #B94A48;}  }
    &.add{ background: none; border: 1px dashed #dcdcdc; .box-shadow(none)}
    &:hover{text-decoration: none; }
}

.platform-user{
    //padding: 4px;
    //margin-left: 5px;
    margin-bottom: 1px;
    .box-sizing(border-box);
    min-width: 155px;
    .intro{ display: inline-block;  padding: 5px 0px 0px;}
    .edit{font-size: 0.6rem}
    .clearfix();
    a{color: @grayLight}
}
.indenter{ color: @grayLighter}
.placeholder-text{color: lighten(@grayLight,10%); text-shadow: 0 2px 1px #ffffff}

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  fill: #000;
  font: 10px sans-serif;
  pointer-events: none;
}

video{max-width: 100%}


/*** SEARCh ****/
.search-results{
    position: fixed;
    background: @white;
    z-index: 100000;
    top: @navbarHeight;
    left:  @leftBarWidth;
    right: 0;
    bottom:0;
    display: none;
    border-bottom: 1px solid #ddd;
    //border-top: @navbarHeight solid @navbarBackground;
    padding: @gridGutterWidth;
    overflow-y: auto;
    &:hover{ display: block; }
    .results-stream{
       max-width: 1250px; 
       .stream > li > a{ color: @grayDark !important;}
    }
}
.search-query{
    &:focus~.search-results{ display: block; z-index: 100000; }
}

.search-form{ background: lighten(@grayLight,32%); padding: 5px; display: inline-block}
.inline-block{display: inline-block}