
@font-face {
	font-family: @iconFontFamily;
	src:url('@{iconFontPath}/@{iconFontFamily}.eot');
	src:url('@{iconFontPath}/@{iconFontFamily}.eot?#iefix') format('embedded-opentype'),
		url('@{iconFontPath}/@{iconFontFamily}.svg#@{iconFontFamily}') format('svg'),
		url('@{iconFontPath}/@{iconFontFamily}.woff') format('woff'),
		url('@{iconFontPath}/@{iconFontFamily}.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: @iconFontFamily;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}

/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: middle;
  font-size: 4/3em;
}

.btn, .nav-tabs {
  [class^="icon-"],
  [class*=" icon-"] {
  /* keeps button heights with and without icons the same */
    line-height: .9em;
  }
}

li {
  [class^="icon-"],
  [class*=" icon-"] {
    display: inline-block;
    width: 1.25em;
    text-align: center;
  }
  .icon-large:before,
  .icon-large:before {
    /* 1.5 increased font size for icon-large * 1.25 width */
    width: 1.5*1.25em;
  }
}

ul.icons {
  list-style-type: none;
  margin-left: 2em;
  text-indent: -.8em;

  li {
    [class^="icon-"],
    [class*=" icon-"] {
      width: .8em;
    }
    .icon-large:before,
    .icon-large:before {
      /* 1.5 increased font size for icon-large * 1.25 width */
      vertical-align: initial;
//      width: 1.5*1.25em;
    }
  }
}


.icon-pencil:before {
	content: "\e001";
}
.icon-plus:before {
	content: "\e004";
}
.icon-minus:before {
	content: "\e005";
}
.icon-earth:before {
	content: "\e006";
}
.icon-bookmark:before {
	content: "\e007";
}
.icon-calendar:before {
	content: "\e008";
}
.icon-tag:before {
	content: "\e00b";
}
.icon-checkmark:before {
	content: "\e00e";
}
.icon-cancel:before {
	content: "\e00f";
}
.icon-stats:before {
	content: "\e010";
}
.icon-keyboard:before {
	content: "\e011";
}
.icon-diary:before {
	content: "\e012";
}
.icon-arrow-up:before {
	content: "\e013";
}
.icon-home:before {
	content: "\e014";
}
.icon-folder:before {
	content: "\e015";
}
.icon-box:before {
	content: "\e016";
}
.icon-cloud-download:before {
	content: "\e019";
}
.icon-file-css:before {
	content: "\e01a";
}
.icon-new-tab:before {
	content: "\e01d";
}
.icon-share:before {
	content: "\e021";
}
.icon-file-pdf:before {
	content: "\e022";
}
.icon-file-openoffice:before {
	content: "\e023";
}
.icon-file-word:before {
	content: "\e024";
}
.icon-file-excel:before {
	content: "\e025";
}
.icon-file-powerpoint:before {
	content: "\e026";
}
.icon-file-zip:before {
	content: "\e027";
}
.icon-file-xml:before {
	content: "\e028";
}
.icon-radio-unchecked:before {
	content: "\e02f";
}
.icon-radio-checked:before {
	content: "\e030";
}
.icon-checkbox-unchecked:before {
	content: "\e032";
}
.icon-checkbox:before {
	content: "\e033";
}
.icon-backspace:before {
	content: "\e034";
}
.icon-menu:before {
	content: "\e035";
}
.icon-backspace-2:before {
	content: "\e036";
}
.icon-bookmark-2:before {
	content: "\e037";
}
.icon-bookmark-3:before {
	content: "\e038";
}
.icon-star:before {
	content: "\e039";
}
.icon-star-2:before {
	content: "\e03a";
}
.icon-star-3:before {
	content: "\e03b";
}
.icon-heart:before {
	content: "\e03c";
}
.icon-heart-2:before {
	content: "\e03d";
}
.icon-happy:before {
	content: "\e040";
}
.icon-smiley:before {
	content: "\e041";
}
.icon-loop:before {
	content: "\e044";
}
.icon-flag:before {
	content: "\e045";
}
.icon-link:before {
	content: "\e046";
}
.icon-link-2:before {
	content: "\e047";
}
.icon-grid-view:before {
	content: "\e048";
}
.icon-clipboard:before {
	content: "\e04a";
}
.icon-clipboard-2:before {
	content: "\e04b";
}
.icon-puzzle:before {
	content: "\e04c";
}
.icon-cube:before {
	content: "\e04d";
}
.icon-cube-2:before {
	content: "\e04e";
}
.icon-briefcase:before {
	content: "\e04f";
}
.icon-remove:before {
	content: "\e050";
}
.icon-remove-2:before {
	content: "\e051";
}
.icon-comments:before {
	content: "\e052";
}
.icon-comments-2:before {
	content: "\e053";
}
.icon-comments-3:before {
	content: "\e054";
}
.icon-loading:before {
	content: "\e055";
}
.icon-search:before {
	content: "\e056";
}
.icon-zoom-in:before {
	content: "\e057";
}
.icon-zoom-out:before {
	content: "\e058";
}
.icon-wrench:before {
	content: "\e059";
}
.icon-equalizer:before {
	content: "\e05a";
}
.icon-cog:before {
	content: "\e05b";
}
.icon-pie:before {
	content: "\e05c";
}
.icon-trophy:before {
	content: "\e05e";
}
.icon-drawer:before {
	content: "\e05f";
}
.icon-drawer-2:before {
	content: "\e060";
}
.icon-printer:before {
	content: "\e061";
}
.icon-clock:before {
	content: "\e062";
}
.icon-history:before {
	content: "\e063";
}
.icon-compass:before {
	content: "\e064";
}
.icon-location:before {
	content: "\e065";
}
.icon-cart:before {
	content: "\e06a";
}
.icon-tag-2:before {
	content: "\e06b";
}
.icon-newspaper:before {
	content: "\e06c";
}
.icon-pictures:before {
	content: "\e06d";
}
.icon-camera:before {
	content: "\e06e";
}
.icon-music:before {
	content: "\e06f";
}
.icon-film:before {
	content: "\e071";
}
.icon-camera-2:before {
	content: "\e072";
}
.icon-mic:before {
	content: "\e074";
}
.icon-file:before {
	content: "\e076";
}
.icon-copy:before {
	content: "\e077";
}
.icon-folder-2:before {
	content: "\e078";
}
.icon-dot:before {
	content: "\e079";
}
.icon-dots:before {
	content: "\e07a";
}
.icon-ellipsis:before {
	content: "\e07b";
}
.icon-arrow-right:before {
	content: "\e084";
}
.icon-paperclip:before {
	content: "\e085";
}
.icon-user:before {
	content: "\e086";
}
.icon-users:before {
	content: "\e087";
}
.icon-user-add:before {
	content: "\e088";
}
.icon-vcard:before {
	content: "\e089";
}
.icon-air:before {
	content: "\e08a";
}
.icon-infinity:before {
	content: "\e08b";
}
.icon-flow-cascade:before {
	content: "\e08c";
}
.icon-flow-branch:before {
	content: "\e08d";
}
.icon-flow-tree:before {
	content: "\e08e";
}
.icon-flow-line:before {
	content: "\e08f";
}
.icon-flow-parallel:before {
	content: "\e090";
}
.icon-arrow-left:before {
	content: "\e091";
}
.icon-arrow-down:before {
	content: "\e092";
}
.icon-font:before {
	content: "\f031";
}
.icon-bold:before {
	content: "\f032";
}
.icon-italics:before {
	content: "\f033";
}
.icon-lineheight:before {
	content: "\f034";
}
.icon-textwidth:before {
	content: "\f035";
}
.icon-align-left:before {
	content: "\f036";
}
.icon-align-center:before {
	content: "\f037";
}
.icon-align-right:before {
	content: "\f038";
}
.icon-indent-right:before {
	content: "\f03b";
}
.icon-indent-left:before {
	content: "\f03c";
}
.icon-task:before {
	content: "\f0ae";
}
.icon-briefcase-2:before {
	content: "\f0b1";
}
.icon-table:before {
	content: "\f0ce";
}
.icon-underline:before {
	content: "\f0cd";
}
.icon-strikethrough:before {
	content: "\f0cc";
}
.icon-ordered-list:before {
	content: "\f0cb";
}
.icon-unordered-list:before {
	content: "\f0ca";
}
.icon-parallel:before {
	content: "\f0c9";
}
.icon-copy-2:before {
	content: "\f0c5";
}
.icon-cut:before {
	content: "\f0c4";
}
.icon-link-3:before {
	content: "\f0c1";
}
.icon-paste:before {
	content: "\f0ea";
}
.icon-justify-block:before {
	content: "\f039";
}
.icon-unordered-list-2:before {
	content: "\f03a";
}
.icon-cloud-upload:before {
	content: "\e018";
}

.icon-16{ font-size: 16px }
.icon-24{ font-size: 24px }
.icon-32{ font-size: 32px }
.icon-48{ font-size: 48px }
.icon-64{ font-size: 64px }

.icon-block{
    display: block !important;
}

.icon-left{
    display: block;
    float: left;
    //margin-top: @gridGutterWidth;
    margin-left: 0px;
    margin-right: @gridGutterWidth;
}

.icon-right{
    display: block;
    float: right;
    //margin-top: @gridGutterWidth;
    margin-right: 0px;
    margin-left: @gridGutterWidth;
}
