.timeline-stream{
    background-color: #f9f9f9;
    background-image: url(../img/activitystream-bg.png); 
    background-repeat: repeat-y;
    background-position: 0px 0;
    min-height: 1000px;
}

.timeline-workspace-title,{
    border-bottom: 1px solid #eee; //margin-bottom: @baseLineHeight*0.7;
    padding-bottom: 12px;
    img{ float: left; }
    .workspace-description{
        //margin-left: 50px;
        .title{  display: block; font-weight: bold; font-size: 14px;}
        .description{ color: @grayLight }
    }
}

.timeline-active-title{
    margin-left: 4-@gridGutterWidth;
    background: #fff;
    border-bottom: 1px solid #eee; margin-bottom: @baseLineHeight*0.7;
    padding-bottom: 12px;
    h1{ font-size: 15px; line-height: @baseLineHeight; min-height: 2*@baseLineHeight;}
}
.timeline-item-publisher-box{position:relative}
.timeline-item-publisher{
    //padding: 5px;
    //margin-top: @baseLineHeight;
    //margin-bottom: @baseLineHeight;
    //background-color: #f5f5f5;
    //border: 1px solid #ddd;
    //padding-bottom:5px;
    margin:0 60px;
    
.publisher-profile{
                    font-size: 1.1em;
                    color: @grayDark;
                    
                        position: absolute;
               
                    left:0px; top:0px;
}
    textarea{
        .box-sizing(border-box);
    }
    input[type=text]{ 
        //margin-bottom:5px; 
        .box-sizing(border-box);
        padding: 13px 5px;
    }
}
.timeline-item-publisher-actions{
    margin: 0;
}

.timeline-items, .timeline-item-index{

    list-style: none;
    margin: 0;
    padding: 0;
    
    .timeline-item-li{
        zoom:1;
        cusor: pointer;
        position: relative;

        .timeline-item-media{
            margin-top: 5px;
            blockquote{ 
                min-height: 120px; 
                h4{
                    margin-bottom: 10px;
                }
                .author{ margin-top: 10px;}
            }
            .carousel{
                .carousel-caption{
                    color: @white;
                    padding: 15px;
                }
                .carousel-control{
                    display: none;
                }
                &:hover{
                    .carousel-control{
                        display: block;
                    }
                }
            }
            
        }
        .timeline-item-container{
            //min-height: 51px;
            background: #fff;
            border: 1px solid #eee;
            padding: 15px;
            margin: 10px 60px;
 
                
            .timeline-item-header{
                cursor: pointer;
                margin-bottom: 5px;
                ul.actions{
                    position: absolute;
                    top: 15px;
                    right: 72px;
                    list-style:none;
                    //background-color: @white;
                    display: none;
                    .transition(opacity .15s ease-in-out);
                    li{
                        display:inline;
                        list-style:none;
                        margin-left: 5px;
                    }
                }
                .publisher-profile{
                    //font-size: 1.1em;
                    color: @grayDark;
                    .profile-avatar{
                        position: absolute;
               
                    }
                    &:hover{text-decoration: none}
                    .profile-nameid{
                        color: lighten(@gray, 30%);
                        margin: 0 5px;
                    }
                }
                .published-time{
                    color: lighten(@gray, 30%);
                    margin: 0 5px;
                    //float: right;
                }
                    
            }
            .timeline-item-body{}
            .timeline-item-footer{

                margin-top: 5px;

            }
            &:hover{
                .timeline-item-header{
                    ul.actions{
                        display: block;
                        
                    }
                    .published-time{
                        //display: none;
                    }
                }
            }
        }

        &:nth-child(even){
            .timeline-item-container{
           
                .timeline-item-header{
                    .publisher-profile{
                        .profile-avatar{                        
                            right: 0px;  
                            top: 2px;   
                        }
                     }
                 }
            }
        }
        &:nth-child(odd){
            .timeline-item-container{
           
                .timeline-item-header{
                    .publisher-profile{
                        .profile-avatar{                        
                            left: 0px;  
                            top: 2px;   
                        }
                     }
                 }
                 
            }
        }
        
        &:last-child{
            border-bottom: none;
        }
        //Comments
        .timeline-item-interaction{
            margin-left: 45px;
            margin-right: -12px;
            margin-top:10px;
            border-top: 1px solid #ddd;
            position: relative;
            .profile-avatar{left: 3px !important;}
            ul{ 
                list-style:none; margin:0
            }
            &:before {
                content: '';
                display: inline-block;
                border-left:   7px solid transparent;
                border-right:  7px solid transparent;
                border-bottom: 7px solid #ccc;
                border-bottom-color: #ddd;
                position: absolute;
                top: -7px;
                left: 17px;
            }
        }
        
    }
}

.timeline-item-index{
    margin: 20px;
    list-style: none;
    .timeline-item-li{ 
                        &:hover{
                    .published-time{ display: none }
                }
        &.active{
        .timeline-item-container{
                    background: #f9f9f9; margin-right: -1px;
}                  // .timeline-item-body,.timeline-item-media, .timeline-item-footer{ display: none; }
                 }
&:last-child{ .timeline-item-container{ border-bottom: 1px solid #EEE;} }
        .timeline-item-container{
            margin:  0px 0px;
            border: none;
            border-style:solid;
            border-width:1px;          
            border-color: inherit;         
            border-color: transparent;      
            border-color: #eee;
            border-color: #eee #eee transparent #eee;
            
            
            .timeline-item-header{
                min-height: 50px;
                margin-bottom: 0px !important;
                ul.actions{
                    right: 15px;
                    //display: inline-block;
                    
                }
                //.profile-name{ display: block}
                .published-summary{ margin: 0;}
                .published-time{ float:right;}
                .publisher-profile{
                    .profile-avatar{ 
                        float: left;
                        margin-right: 10px;
                        position:relative;
                        top: 3px !important;
                        left: 0px;
                    }
                 }
             }
             .timeline-item-title{ margin: 5px 0px 0px 60px;}
             .timeline-item-body,.timeline-item-media,.timeline-item-footer{
                margin: 0px 0px 0px 60px;
                padding-top: 10px;
                //border-top: 1px dashed #ebe8e8;
            }
             
            .timeline-item-footer{
                .label{
                    line-height: 18px;
                    padding: 4px 8px 1px;
                    display: inline-block;
                    margin-right: 0px;
                }
            }
        }

    }
}

.timeline-active-item{
    background: #fff; border: 1px solid #ddd; padding: 18px; margin-bottom: @baseLineHeight;
    .timeline-item-header{
                 min-height: 50px;
                cursor: pointer;
                //margin-bottom: 5px;
                position:relative;
                ul.actions{
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    list-style:none;
                    //background-color: @white;
                    display: block;
                    .transition(opacity .15s ease-in-out);
                    li{
                        display:inline;
                        list-style:none;
                        margin-left: 5px;
                    }
                }
                .publisher-profile{
                    //font-size: 1.1em;
                    color: @grayDark;
                   .profile-avatar{ 
                        float: left;
                        margin-right: 10px;
                        position:relative;
                        top: 3px !important;
                        left: 0px;
                    }
                    &:hover{text-decoration: none}
                    .profile-nameid{
                        color: lighten(@gray, 30%);
                        margin: 0 5px;
                    }
                }
                .published-time{
                    color: lighten(@gray, 30%);
                    margin: 0 5px;
                    //float: right;
                }
    
             }
             .timeline-item-title{ margin: 5px 0px 0px 60px;}
             .timeline-item-body,.timeline-item-media,.timeline-item-footer{
                margin-top: 15px;
                padding-top: 10px;
                border-top: 1px dashed #ebe8e8;
            }
             .timeline-item-media{
                color: gray;
                font-style: italic;
                font-size: 98%;
            }
            .timeline-item-media{
                color: gray;
                font-style: italic;
                font-size: 98%;
                .media-list{ margin:0; list-style: none; padding:0px; li{margin: 5px 0 5px 0px; .label{margin-left: 0px;} } }
            }
            .timeline-item-footer{
                .label{
                    line-height: 18px;
                    padding: 4px 5px 1px;
                    display: inline-block;
                    margin-right: 0px;
                    //margin-left: 0px;
                }
            }
}

//RECOMMENDATIONS & TIPS

.timeline-tips-title{ margin-bottom: 15px; display: block; padding-bottom: 5px; border-bottom: 1px solid #c2c2c2 }
.timeline-tips-list{
    //list-style: none;
    margin-left: 0px;
list-style: none;
    li{ 
        position: relative;  min-height: 50px; margin-bottom: 10px;
        .tip-title{
            display: block;
            padding-right: 40px;
        }
        .tip-response{ 
            opacity: 0.2;
            &:hover{ 
                opacity: 1
            }
        }
        .tip-popularity{ 
            font-size: 110%;
            font-weight: bold;
            //padding-top: 4px;
            position: absolute;
            right: 0px;
            top: 0px;
         }
        .progress{ 
            margin: 6px 0px; 
        }
        .suggestion-info{
            display:block;
            font-size: 90%;color: @grayLight;
        }
        .tip-actions{
            width: 16px;
            position: absolute;
            right: -20px;
            top: 0;
            background: #fcfcfc;
            display: none;
        }
        &:hover{
            .tip-actions{
                display: none;
            }
        }
    }
}

